{% extends "base.html" %} 

<h1>{% block title %}About Us{% endblock %}</h1>


{% block content %}
<div class="group" style="background-color: rgba(106, 0, 255, 0.29);">
<h3 style="text-decoration: underline; text-decoration-thickness: 5px; text-decoration-color: rgb(171, 119, 230)">Welcome to the ArtistBlog</h3>
<p style="font-size:17px ; padding:20px 50px; text-align: center; ">A place where all creative minds are welcome to share their journeys , advice
    , art inspirations, tips, tricks and so much more, seeing how 
    the field of art is ubiquitous it is only right for everone to share their various 
    onceptions of art in order to help others in the field and the new ones emerging.
    Art is unquestionably one of the purest and highest elements in human happiness. It trains the mind through the eye, and the eye through the mind. As the sun colours flowers, so does art colour life.
    -John Lubbok
    The aim of art is to represent not the outward appearance of things, but their inward significance.-Aristotle.
    You have a million excuses. Write anyway;)
</p>
<h3 style="text-decoration: underline; text-decoration-thickness: 5px; text-decoration-color: rgb(171, 119, 230)">-Our Mission-</h3>
<p style="text-align: center; " >To create a platform where every artist, irrespective of background, can
    contribute to the world of art.
</p>


<i class="fas fa-instagram"></i>



</div>








{% endblock %}