{% extends "base.html" %} 

{% block title %}New Post{% endblock %}

{% block content %} 
<h1 style="text-align: center;">Create a new post</h1>

<form   class="form-control" method="POST">
    <textarea name="text" id="text" class="form-control" rows="7"> </textarea>
    <br>
    <a href="/home"><button type="submit" class="btn btn-primary"  >Post</button></a>
    <br>
    <a href="/home"><button style="background-color: black;" class="btn btn-primary">Back Home</button></a>

</form>
{% endblock %}